.test-comp {
    background-color: red;
}

#wever-form {
    margin-top: 10px;
}

#wever-form form input {
    width : 100%;
    border: 1px solid black;
}

#wever-form .form-div {
    width: 100%;
    display: inline;
    padding-left: 5px;
    padding-right:5px ;
}
#wever-form .submit {
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #2f559c;
}

#wever-form label {
    font-size: 16px;
    color: black;
}

#wever-form input {
    color: black;
}